.stage {
  position: relative;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.stage::before {
  white-space: nowrap;
  box-sizing: border-box;

  width: 100%;
  z-index: -1;
  content: 'stage';
  position: absolute;
  top: -8%;
  left: 18%;
  font-size: 250px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
